{{ $interval := .Get "interval" | default 5000 }}

<div class="carousel">
    <div class="carousel-inner">
        {{ $images := findRE "<img[^>]*>" .Inner }}
        {{ range $index, $image := $images }}

        <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
            {{ $image | safeHTML }}
        </div>
        {{ end }}
    </div>

    <a class="carousel-control prev"> &lt </a>
    <a class="carousel-control next"> &gt </a>
</div>
<div class="carousel-indicators"></div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const carousel = document.querySelector('.carousel');
        const items = document.querySelectorAll('.carousel-item');
        let index = 0;

        // Create carousel indicators dynamically
        const indicatorsContainer = document.querySelector('.carousel-indicators');
        items.forEach((item, i) => {
            const indicator = document.createElement('span');
            indicator.classList.add('indicator');
            indicator.addEventListener('click', function () {
                index = i;
                updateCarousel();
            });
            indicatorsContainer.appendChild(indicator);
            if (i === 0) {
                indicator.classList.add('indicator-active');
            }
        });

        document.querySelector('.next').addEventListener('click', function () {
            index = (index + 1) % items.length;
            updateCarousel();
        });

        document.querySelector('.prev').addEventListener('click', function () {
            index = (index - 1 + items.length) % items.length;
            updateCarousel();
        });

        function updateCarousel() {
            items.forEach((item, i) => {
                item.classList.toggle('active', i === index);
            });

            // Update indicators
            const indicators = document.querySelectorAll('.indicator');
            indicators.forEach((indicator, i) => {
                indicator.classList.toggle('indicator-active', i === index);
            });
        }

        setInterval(function () {
            index = (index + 1) % items.length;
            updateCarousel();
        }, {{ $interval }});
    });
</script>

<style>
    .carousel {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .carousel-item {
        display: none;
        width: 100%;
        box-sizing: border-box;
    }
    .active {
        display: block;
    }

    .carousel img {
        width: 100%;
        height: auto;
    }

    .carousel-control {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 2em;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .carousel-indicators {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem 2rem;
        gap: 10px;
    }

    .indicator {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .indicator-active {
        background-color: var(--primary-color);
    }
    .prev {
        left: 10px;
        user-select: none;
    }

    .next {
        right: 10px;
        user-select: none;
    }
</style>