{{- $name := .Get "name" -}} {{- $description := .Get "description" -}} {{-
$status := .Get "status" -}} {{- $mail := .Get "mail" -}} {{- $number := .Get
"number" -}} {{- $photo := .Get "photo" -}}

<div class="staff-card">
    <div class="img-container">
        {{ if ne $photo "" }}
        <img src="{{ $photo }}" alt="{{ $name }}" />
        {{ else }}
        <img
            src="/images/default-cover/squirell.jpg"
            alt="Ecureil roux, photo de Ray eye"
        />
        {{ end }}
    </div>
    <div class="staff-card__content">
        <h2>{{ $name }}</h2>
        {{ if ne $status "" }}
        <div class="status">
            <p>{{ $status }}</p>
        </div>
        {{ end }}
        <div class="description">
            <p>{{ $description }}</p>
        </div>
        {{ if ( ne $mail "" | ne $number "" )  }}

        <div class="staff-card__separator"></div>
        {{ end }}
        {{ if ne $mail "" }}
        <div class="staff-card__contact">
            {{- $mailParts := split $mail "@" -}}
            {{- $mailLocalPart := index $mailParts 0 -}}
            {{- $mailDomainPart := index $mailParts 1 -}}
            {{- $mailObfuscated := printf "%s [at] %s [dot]" $mailLocalPart $mailDomainPart -}}
            <div class="staff-card__icon">
                {{ readFile "assets/icons/mail.svg"| safeHTML }}
            </div>
            <p>{{ $mailObfuscated }}</p>
        </div>
        {{ end }} 
        {{ if ne $number "" }}
        <div class="staff-card__contact">
            <div class="staff-card__icon">
                {{ readFile "assets/icons/phone.svg"| safeHTML }}
            </div>
            <p>{{ $number }}</p>
        </div>
        {{ end }}
    </div>
</div>
