{{/*Here is defined the default iterator page (_index.md) for the news folder where all the posts are it includes 
  the content of index.md and then iteratore over thew post in the folder  */}}
{{ define "main" }}
  <article class="narrow-content">
    <section>
      {{- .Content -}}
    </section>

    {{ $currentSection := .Section }}
    {{ $articles := slice }}
    
    {{ range .Site.RegularPages }}
        {{ if or (eq .Section $currentSection) (in .Sections $currentSection) }}
            {{ $articles = $articles | append . }}
        {{ end }}
    {{ end }}
    
    {{ $allDates := slice }}
    {{ range $articles }}
        {{ $date := .Date.Format "2006" }}
        {{ $allDates = union $allDates (slice $date) }}
    {{ end }}

    <section>
      {{ range $allDates }}
          {{ $currentDate := . }}
          <h1>{{ . }}</h1>
          <ul class="articles__list">
          {{ range $articles }}
              {{ $articleDate := .Date.Format "2006" }}
              {{ if eq $articleDate $currentDate }}
              <div class="articles__list__entry">
                {{ .Render "summary" }}
              </div>
              {{ end }}
          {{ end }}
        </ul>
      {{ end }}
    </section>
  </article>
{{ end }}
