{{/*Here is defined the default iterator page (_index.md) where all the posts are it includes 
  the content of index.md and then iteratore over thew post in the folder  */}}
{{ define "main" }}
  <article class="narrow-content">
    <section>
      {{- .Content -}}
    </section>
    {{ if .Paginator.Pages }}
    <section class="articles">
      <h1>Articles de cette section</h1>
      <ul class="articles__list">
      {{ range .Paginator.Pages }}
        <div class="articles__list__entry">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </ul>
    </section>
    {{- template "_internal/pagination.html" . -}}
    {{ end }}
  </article>
{{ end }}

