{{ define "header" }}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="narrow-content">
    <header class="single__header">
      <h1 class="single__header__title">
        {{- .Title -}}
      </h1>
      {{ if not .Date.IsZero }}
      <time class="single__header__date" {{ printf `datetime="%s"` (.Date.Format "2006-01-02T15:04:05Z07:00") | safeHTMLAttr }}>
        {{- .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) -}}
      </time>
      {{end}}
    </header>
    <div class="single__content-container">
      <div class="single__content">
        {{- .Content -}}
        {{- partial "tags.html" . -}}
      </div>

      <aside class="single__sidebar">
        {{- partial "menu-contextual.html" . -}}
      </aside>
  </div>

  </article>
{{ end }}
