{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<div class="summary-card">
  {{ if $featured_image }}
    <div>
      <a href="{{.RelPermalink}}">
        <img src="{{ $featured_image }}" class="summary-card__featured-image" alt="image from {{ .Title }}">
      </a>
    </div>
    {{ else }}
    <div>
      <a href="{{.RelPermalink}}">
        <img
            class="summary-card__featured-image"
            src="/images/default-cover/squirell.jpg"
            alt="Ecureil roux, photo de Ray eye"
        />
      </a>
    </div>
  {{ end }}

  <div class="summary-card__content">
    <h1 class="summary-card__title">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h1>
      <!-- Add the date to the summary -->
      <span class="summary-card__date-container">
        <div class="summary-card__date">
          {{ .Date.Format "2006" }}
        </div>
      </span>
    <div>
      
      {{ $lines := split .Plain "\n" }}
      {{ $string := "" }}
      {{ $start := 1 }}
      
      {{ range $i, $line := $lines }}
        {{ if lt $i $start }}
          {{ continue }}
        {{ else }}
          {{ if ne $line "" }}
            {{ if eq $string "" }}
              {{ $string = $line }}
            {{ else }}
              {{ $string = printf "%s\n%s" $string $line }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
      {{ if eq $string "" }}
        {{ $string = .Title }}
      {{else }}
        {{ $string | safeHTML | truncate 200 }} 
      {{ end }}
      
    </div>
  </div>
</div>
