
{{/*Here is defined the main section when calling /tags/<a tag> */}}
{{ define "main" }}
  <article class="narrow-content">
    <section>
      {{- .Content -}}
    </section>
    {{ if .Pages }}
    <section class="articles">
      <ul class="articles__list">
      {{ range .Pages }}
        <div class="articles__list__entry">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </ul>
    </section>
    {{- template "_internal/pagination.html" . -}}
    {{ end }}
  </article>
{{ end }}
