{{/*Here is defined the main section when calling /tags/ */}}

{{ define "main" }}
{{ $data := .Data }}
  <article class="narrow-content">
    <section>
      {{- .Content -}}
    </section>
    {{ if .Pages }}
    <section class="articles">
      {{ range $term := .Data.Pages }}
          <h1>
            <a href="{{ $term.RelPermalink }}" >
              {{ $.Data.Singular | humanize }}: {{ $term.LinkTitle }}
            </a>
          </h1>
          <ul class="articles__list">
          {{ range .Pages }}
            <div class="articles__list__entry">
              {{ .Render "summary" }}
            </div>
          {{ end }}
        </ul>
        </section>
        {{- template "_internal/pagination.html" . -}}
      {{ end }}
    {{ end }}
  </article>
{{ end }}

