.footer{
    background-color: $dark;
    color: $text-color;
    width: 100%;
    padding: 1rem;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            
            @include responsive('small') {
                padding-left:var(--spacing-large);
                padding-right:var(--spacing-large);
                }
        }
    }
}